@charset "UTF-8";

* { font-family: 'Noto Sans KR', sans-serif; }
a { text-decoration: none; }
.site-title { display: flex; align-items: center; justify-content: center; font-size: 1.25rem; font-weight: 400; }
