---
layout: default
---
<article class="home">
  {%- if site.posts.size > 0 -%}
    <section class="post-list">
      {%- for post in site.posts -%}
        <article class="list-item">
          <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M:%S %z" }}" class="date">{{ post.date | date: "%Y-%m-%d" }}</time>
          <h2>
            <a href="{{ post.url | relative_url }}" class="item-link">{{ post.title | escape }}</a>
          </h2>
        </article>
      {%- endfor -%}
    </section>
    <div class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | absolute_url }}">via RSS</a></div>
  {%- endif -%}
</article>
